# Environment variables
.env
.DS_Store

# Python cache and virtual environments
__pycache__/
*.pyc
.venv/
venv/

/logs/
/src/logs/

src/warehouse/dbt_packages/
src/warehouse/logs/
src/warehouse/target/

# Notebook checkpoints
.ipynb_checkpoints

tmp/
data*/
/figures*/

.dagster_instance/